<div class="popup">
    <div class="popup-header">
        <h2>@SelectedDeck!.DeckName</h2>
        <button class="btn-close" @onclick="ClosePopup"></button>
    </div>

    <div class="popup-content">
        <Filter FilterParameters="controller!.CurrentFilterParameters" 
            OnSearch="EventCallback.Factory.Create(this, new Action<CardFilterParameters>(OnSearch))" 
            OnFilter="EventCallback.Factory.Create(this, new Action<CardFilterParameters>(OnFilter))"
            OnReset="EventCallback.Factory.Create(this, OnReset)" />
        <GalleryComponent Cards="controller.Cards" ShowLoadMoreButton="false"/>
    </div>
</div>