.search-filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.search-filter-container > div {
    display: flex;
    gap: 10px;
}

.search-filter-container input,
.search-filter-container select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-filter-container input {
    width: 200px;
}

.search-filter-container select {
    width: 150px;
}

.search-filter-container button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #69527a;
    color: white;
    cursor: pointer;
}

.search-filter-container button:hover {
    background-color: #573f64;
}

.search-filter-container button.reset {
    background-color: #812525;
}

.search-filter-container button.reset:hover {
    background-color: #8a4d4d;
}