<div class="search-filter-container">
    <div>
        <div class="search-container">
            <input type="text" @bind="FilterParameters.SearchQuery" placeholder="Search cards..." />
            <button @onclick="SearchCards">Search</button>
        </div>

        <div class="filter-container">
            <select @bind="FilterParameters.ConvertedManaCostFilter">
                <option value="">Mana Cost</option>
                <option value="0">0</option>
                <option value="0.5">0.5</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="1000000">1000000</option>
            </select>
            <select @bind="FilterParameters.TypeFilter">
                <option value="">Type</option>
                <option value="Artifact">Artifact</option>
                <option value="Wolf">Wolf</option>
                <option value="Knights">Knights</option>
                <option value="Instant">Instant</option>
                <option value="Planeswalker">Planeswalker</option>
                <option value="Jaguar">Jaguar</option>
                <option value="Goblin">Goblin</option>
                <option value="See">See</option>
                <option value="Enchantment">Enchantment</option>
                <option value="Elemental">Elemental</option>
                <option value="Scariest">Scariest</option>
                <option value="Hero">Hero</option>
                <option value="Dragon">Dragon</option>
                <option value="Land">Land</option>
                <option value="Tribal">Tribal</option>
                <option value="Specter">Specter</option>
                <option value="Eaturecray">Eaturecray</option>
                <option value="Summon">Summon</option>
                <option value="Scheme">Scheme</option>
                <option value="Ever">Ever</option>
                <option value="Phenomenon">Phenomenon</option>
                <option value="Creature">Creature</option>
                <option value="Vanguard">Vanguard</option>
                <option value="You’ll">You’ll</option>
                <option value="Plane">Plane</option>
                <option value="Sorcery">Sorcery</option>
                <option value="Conspiracy">Conspiracy</option>
            </select>
            <select @bind="FilterParameters.RarityCodeFilter">
                <option value="">Rarity Code</option>
                <option value="C">Common</option>
                <option value="U">Uncommon</option>
                <option value="R">Rare</option>
                <option value="M">Mythic</option>
                <option value="S">Special</option>
                <option value="B">Bonus</option>
            </select>
            <select @bind="FilterParameters.ColorFilter">
                <option value="">Color</option>
                <option value="White">White</option>
                <option value="Black">Black</option>
                <option value="Blue">Blue</option>
                <option value="Red">Red</option>
                <option value="Green">Green</option>
            </select>
            <button @onclick="FilterCards">Apply Filters</button>
        </div>
    </div>

    <button class = "reset" @onclick="ResetSearch">Reset</button>
</div>