@implements IDisposable
@inject NavigationManager Nav

@if(user == null)
{
    <a href="/login" class="title">Login</a>
}
else
{
    <a class="nav" @onclick="@(() => Nav.NavigateTo("/decks"))">My Decks</a>
    <a class="title" @onclick="Logout" @onclick:preventDefault>Logout</a>
    <span class="welcom">Welcome, @user.Username</span>    
}