@implements IDisposable
@inject NavigationManager Nav

@if(user == null)
{
    <div class="imposter">
        <a class = "link" href="/login">Login</a>
    </div>
}
else
{
    <div class="imposter">
        <a class = "link" @onclick="@(() => Nav.NavigateTo("/decks"))">My Decks</a>
        <a class = "link" @onclick="Logout" @onclick:preventDefault>Logout</a>
        <span class="welcome">@user.Username</span>
    </div>
}