@page "/cards"

<h1>Card Gallery</h1>

<Filter FilterParameters="controller!.CurrentFilterParameters" 
    OnSearch="EventCallback.Factory.Create(this, new Func<CardFilterParameters, Task>(controller.OnSearch))" 
    OnFilter="EventCallback.Factory.Create(this, new Func<CardFilterParameters, Task>(controller.OnFilter))" 
    OnReset="EventCallback.Factory.Create(this, controller.OnReset)" />

<GalleryComponent Cards="controller.Cards" OnLoadMore="controller.LoadMoreCards" NoMatchingCardsError="@NoMatchingCardsError" NoMatchingCardsMessage="@NoMatchingCardsMessage" />