h1 {
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.card-name {
    text-align: center;
    padding: 10px 0 0 0;
    font-size: larger;
}

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    font-weight: bold;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.card {
    width: calc(20% - 10px);
    max-width: 300px;
    min-width: 200px;
    box-sizing: border-box;
    border: none;
}

.card img {
    width: 100%;
    height: auto;
}

.load-more-button {
    display: block;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
    padding: 14px 40px;
    border: none;
    outline: none;
    padding: 20px 0 40px 0;
}

.load-more-button:hover {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

footer {
    height: 50px;
}