@page "/cards"
@using magick.Models

<style>
    h1 {
        text-align: center;
        font-weight: bold;
        padding: 10px;
    }

    .loading {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2em;
        font-weight: bold;
    }

    .cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .card {
        width: calc(20% - 10px);
        max-width: 300px;
        min-width: 200px;
        box-sizing: border-box;
        border: none;
    }

    .card img {
        width: 100%;
        height: auto;
    }

    .load-more-button {
        display: block;
        width: 200px;
        height: 50px;
        margin: 20px auto;
        background-color: #69527a;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        transition-duration: 0.4s;
        cursor: pointer;
        border-radius: 12px;
        padding: 20px 0 40px 0;
        border: none;
        outline: none;
    }

    .load-more-button:hover {
        background-color: white; 
        color: black; 
        border: 2px solid  #69527a;
    }

    footer {
        height: 50px;
    }

    .search-filter-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
    }

    .search-filter-container > div {
        display: flex;
        gap: 10px;
    }

    .search-filter-container input,
    .search-filter-container select {
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .search-filter-container input {
        width: 200px;
    }

    .search-filter-container select {
        width: 150px;
    }

    .search-filter-container button {
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        border-radius: 4px;
        background-color: #69527a;
        color: white;
        cursor: pointer;
    }

    .search-filter-container button:hover {
        background-color: #573f64;
    }

    .search-filter-container button.reset {
        background-color: #812525;
    }

    .search-filter-container button.reset:hover {
        background-color: #8a4d4d;
    }

    .no-matching-cards-error {
        display: none;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        padding: 20px;
        color: #812525;
    }
    
    .matching-cards-error {
        display: block;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        padding: 20px;
        color: #812525;
    }

</style>

<h1>Card Gallery</h1>

<div class="search-filter-container">
    <div>
        <div class="search-container">
            <input type="text" @bind="searchQuery" placeholder="Search cards..." />
            <button @onclick="SearchCards">Search</button>
        </div>

        <div class="filter-container">
            <select @bind="convertedManaCostFilter">
                <option value="">Mana Cost</option>
                <option value="0">0</option>
                <option value="0.5">0.5</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="1000000">1000000</option>
            </select>
            <select @bind="typeFilter">
                <option value="">Type</option>
                <option value="Artifact">Artifact</option>
                <option value="Wolf">Wolf</option>
                <option value="Knights">Knights</option>
                <option value="Instant">Instant</option>
                <option value="Planeswalker">Planeswalker</option>
                <option value="Jaguar">Jaguar</option>
                <option value="Goblin">Goblin</option>
                <option value="See">See</option>
                <option value="Enchantment">Enchantment</option>
                <option value="Elemental">Elemental</option>
                <option value="Scariest">Scariest</option>
                <option value="Hero">Hero</option>
                <option value="Dragon">Dragon</option>
                <option value="Land">Land</option>
                <option value="Tribal">Tribal</option>
                <option value="Specter">Specter</option>
                <option value="Eaturecray">Eaturecray</option>
                <option value="Summon">Summon</option>
                <option value="Scheme">Scheme</option>
                <option value="Ever">Ever</option>
                <option value="Phenomenon">Phenomenon</option>
                <option value="Creature">Creature</option>
                <option value="Vanguard">Vanguard</option>
                <option value="You’ll">You’ll</option>
                <option value="Plane">Plane</option>
                <option value="Sorcery">Sorcery</option>
                <option value="Conspiracy">Conspiracy</option>
            </select>
            <select @bind="rarityCodeFilter">
                <option value="">Rarity Code</option>
                <option value="C">Common</option>
                <option value="U">Uncommon</option>
                <option value="R">Rare</option>
                <option value="M">Mythic</option>
                <option value="S">Special</option>
                <option value="B">Bonus</option>
            </select>
            <select @bind="colorFilter">
                <option value="">Color</option>
                <option value="White">White</option>
                <option value="Black">Black</option>
                <option value="Blue">Blue</option>
                <option value="Red">Red</option>
                <option value="Green">Green</option>
            </select>
            <button @onclick="FilterCards">Apply Filters</button>
        </div>
    </div>

    <button class = "reset" @onclick="ResetSearch">Reset</button>
</div>

<div>
    @if (cards == null)
    {
        <p class="loading">Loading...</p>
    }
    else
    {
        <div class="cards-container">
        @foreach (var card in cards)
        {
            <div class="card">
                <CardComponent card="@card" />
            </div>
        }
        </div>
        <button class="load-more-button" @onclick="LoadMoreCards">Load More</button>
        <p class="@NoMatchingCardsError">@NoMatchingCardsMessage</p>
        <footer></footer>
    }
</div>