@page "/cards"
@using magick.Models
@using magick.Services
@inject CardService service

@if (cards == null)
{
    <p>Loading...</p>
}
else
{
    <div>
    @foreach (var card in cards)
    {
        <CardComponent card="@card" />
    }
    </div>
    <button @onclick="LoadMoreCards">Load More</button>
}

@code {
    private List<Card>? cards;
    private long lastCardId = 0;
    private const int pageSize = 50;

    protected override async Task OnInitializedAsync()
    {
        await LoadMoreCards();
    }
    private async Task LoadMoreCards()
    {
        var newCards = await service.GetPaginatedCards(lastCardId, pageSize);
        if (cards == null)
        {
            cards = newCards;
        }
        else
        {
            cards.AddRange(newCards);
        }
        if (newCards.Count > 0)
        {
            lastCardId = newCards.Last().Id;
        }
    }
}