h1 {
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    font-weight: bold;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.card {
    width: calc(20% - 10px);
    max-width: 300px;
    min-width: 200px;
    box-sizing: border-box;
    border: none;
}

.card img {
    width: 100%;
    height: auto;
}

.card-name {
    text-align: center;
    padding: 10px 0 0 0;
    font-size: larger;
}

.load-more-button {
    display: block;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    background-color: #69527a;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
    padding: 20px 0 40px 0;
    border: none;
    outline: none;
}

.load-more-button:hover {
    background-color: white; 
    color: black; 
    border: 2px solid  #69527a;
}

footer {
    height: 50px;
}

.search-filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.search-filter-container > div {
    display: flex;
    gap: 10px;
}

.search-filter-container input,
.search-filter-container select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-filter-container input {
    width: 200px;
}

.search-filter-container select {
    width: 150px;
}

.search-filter-container button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #69527a;
    color: white;
    cursor: pointer;
}

.search-filter-container button:hover {
    background-color: #573f64;
}

.search-filter-container button.reset {
    background-color: #812525;
}

.search-filter-container button.reset:hover {
    background-color: #8a4d4d;
}

.no-matching-cards-error {
    display: none;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    color: #812525;
}

.matching-cards-error {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    color: #812525;
}