@page "/cards"

<h1>Card Gallery</h1>

<Filter FilterParameters="currentFilterParameters" 
    OnSearch="EventCallback.Factory.Create(this, new Func<CardFilterParameters, Task>(OnSearch))" 
    OnFilter="EventCallback.Factory.Create(this, new Func<CardFilterParameters, Task>(OnFilter))" 
    OnReset="EventCallback.Factory.Create(this, OnReset)" />

<GalleryComponent Cards="cards" OnLoadMore="LoadMoreCards" NoMatchingCardsError="@NoMatchingCardsError" NoMatchingCardsMessage="@NoMatchingCardsMessage" />