@page "/cards"
@using magick.Models
@using magick.Services
@inject Service service

<div>
    <input @bind="searchTerm" placeholder="Search cards..." />
    <select @bind="filterOption">
        <option value="">All</option>
        <!-- filter options here -->
    </select>
    <button @onclick="LoadCards">Submit</button>
</div>

@if (cards == null)
{
    <p>Loading...</p>
}
else
{
    <div>
    @foreach (var card in cards)
    {
        <CardComponent card="@card" />
    }
</div>
    <button @onclick="PreviousPage">Previous</button>
    <button @onclick="NextPage">Next</button>
}

@code {
    private string searchTerm = "";
    private string filterOption = "";
    private List<Card>? cards;
    private int pageNumber = 1;
    private const int pageSize = 50;

    protected override async Task OnInitializedAsync()
    {
        await LoadCards();
    }

    private async Task LoadCards()
    {
        cards = await service.GetCards(searchTerm, filterOption, pageNumber, pageSize);
    }

    private async Task NextPage()
    {
        pageNumber++;
        Console.WriteLine(pageNumber);
        await LoadCards();
        Console.WriteLine(pageNumber);
    }

    private async Task PreviousPage()
    {
        if (pageNumber > 1)
        {
            pageNumber--;
            await LoadCards();
        }
    }
}
