@page "/cards"
@using magick.Models

<style>
    h1 {
        text-align: center;
        font-weight: bold;
        padding: 10px;
    }

    .loading {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2em;
        font-weight: bold;
    }

    .cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .card {
        width: calc(20% - 10px);
        max-width: 300px;
        min-width: 200px;
        box-sizing: border-box;
        border: none;
    }

    .card img {
        width: 100%;
        height: auto;
    }

    .card-name {
        text-align: center;
        padding: 10px 0 0 0;
        font-size: larger;
    }

    .load-more-button {
        display: block;
        width: 200px;
        height: 50px;
        margin: 20px auto;
        background-color: #69527a;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        transition-duration: 0.4s;
        cursor: pointer;
        border-radius: 12px;
        padding: 20px 0 40px 0;
        border: none;
        outline: none;
    }

    .load-more-button:hover {
        background-color: white; 
        color: black; 
        border: 2px solid  #69527a;
    }

    footer {
        height: 50px;
    }

    .no-matching-cards-error {
        display: none;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        padding: 20px;
        color: #812525;
    }
    
    .matching-cards-error {
        display: block;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        padding: 20px;
        color: #812525;
    }

</style>

<h1>Card Gallery</h1>

<Filter FilterParameters="currentFilterParameters" 
    OnSearch="EventCallback.Factory.Create(this, new Func<CardFilterParameters, Task>(OnSearch))" 
    OnFilter="EventCallback.Factory.Create(this, new Func<CardFilterParameters, Task>(OnFilter))" 
    OnReset="EventCallback.Factory.Create(this, OnReset)" />

<div>
    @if (cards == null)
    {
        <p class="loading">Loading...</p>
    }
    else
    {
        <div class="cards-container">
        @foreach (var card in cards)
        {
            <div class="card">
                <CardComponent card="@card" />
            </div>
        }
        </div>
        <button class="load-more-button" @onclick="LoadMoreCards">Load More</button>
        <p class="@NoMatchingCardsError">@NoMatchingCardsMessage</p>
        <footer></footer>
    }
</div>