@page "/decks"
@rendermode InteractiveServer
@inject NavigationManager _nav

<PageTitle>Decks</PageTitle>

<h1>Decks</h1>

<!-- Load user decks here -->

<button class="btn btn-primary" onclick='@(()=>_nav.NavigateTo("/sets"))'>Create a new deck.</button>