@page "/decks"
@rendermode InteractiveServer
@inherits DecksBase

<PageTitle>Decks</PageTitle>

<div class="container">
    <h1>Decks</h1>

    <ul>
    @foreach (var deck in DecksController!.GetDecksList())
    {
        <li @onclick="() => OpenPopup(deck)">@deck.DeckName</li>
    }
    </ul>

    <button class="btn btn-primary" @onclick='NavigateToSetup'>Create a new deck.</button>
</div>


<!-- todo Move popup to a separate file (component) -->
@if (showPopup)
{
    <div class="popup">

        <div class="popup-header">
        <h2>@selectedDeck.DeckName</h2>
        <button class="btn-close" @onclick="ClosePopup"></button>
        </div>

        <div class="popup-content">
        @foreach (var deckCard in selectedDeck.DeckCards)
        {
            <CardComponent Card="@deckCard.Card" />
        }
        </div>
    </div>
}

@code {
    bool showPopup = false;
    UserDeck selectedDeck;

    void OpenPopup(UserDeck deck)
    {
        selectedDeck = deck;
        showPopup = true;
    }

    void ClosePopup()
    {
        showPopup = false;
    }
}