@page "/decks"
@rendermode InteractiveServer
@inherits DecksBase

<PageTitle>Decks</PageTitle>

<div class="container">
    <h1>Decks</h1>

    <ul>
    @foreach (var deck in DecksController!.GetDecksList())
    {
        <li>@deck.DeckName</li>
    }
    </ul>

    <button class="btn btn-primary" @onclick='NavigateToSetup'>Create a new deck.</button>
</div>