@page "/setup"

<PageTitle>Setup</PageTitle>

<h1>Select your set</h1>

<EditForm Model="Query" OnValidSubmit="FilterSets">
    <input type="text" id="set-filter" name="set-filter" placeholder="Search" @bind="Query.Text">
    <input type="submit" value="Search" />
</EditForm>

<div id="sets">
    @if(sets.Count == 0)
    {
        <div>No matching sets found!</div>
    }
    else
    {
        @foreach (var set in sets)
        {
            <a href="/draft/@set.Code">@set.Name</a>
        }
    }  
</div>
