#sets{
    padding: 1rem 1rem 1rem 1rem;
    margin: 1rem 1rem 1rem 1rem;
    overflow: auto;
    max-height: 80vh;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem 1rem;

}

#sets a {
    flex: 1 1 0px;
    text-align: center;
    border: 1px solid black;
    
    color: black;
    text-decoration: none;
    background-color: #EEEEEE;
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 20px 0;
}

.search-btn{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #69527a;
    color: white;
    cursor: pointer;
    text-align: center;
}

.search-btn:hover {
    background-color: #4d3a57;
}

h1 {
    color: #69527a;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}