@page "/setup"

<PageTitle>Setup</PageTitle>

<h1>Select your set</h1>

<EditForm Model="Query" OnValidSubmit="FilterSets">
    <input type="text" id="set-filter" name="set-filter" placeholder="Search" @bind="Query.Text">
    <input type="submit" value="Search" class="btn btn-primary"/>
</EditForm>

<div id="sets">
    @if(string.IsNullOrEmpty(Query.Text) && sets.Count == 0)
    {
        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only"></span>
        </div>
    }
    else if(sets.Count == 0)
    {
        <div>No matching sets found!</div>
    }
    else
    {
        @foreach (var set in sets)
        {
            //todo
            //We can get more icons from: https://scryfall.com/docs/api/
            //get request with the set.Code and from return we need icon_svg_uri

            var url = "https://svgs.scryfall.io/sets/" + @set.Code.ToLower() + ".svg";
            <a href="/draft/@set.Code">
            @set.Name 
            <img src="@url" width="100" height="100" onerror="this.style.display='none'"/>
            </a>
        }
    }  
</div>
