@page "/setup"
@rendermode InteractiveServer
@using magick.Models
@using magick.Services
@inject CardService CardService
@inject NavigationManager _nav

<PageTitle>Setup</PageTitle>

<h1>Select your set</h1>

<input type="text" id="set-filter" name="set-filter" placeholder="Search"><button onclick="filterSets()">Search</button>
<div id="sets">
    @foreach (var set in CardService.GetSets())
    {
        <button>@set.Name</button>
    }
</div>